@charset "UTF-8";

/* обнуление всех CSS стилей */

*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  /* убирать если используешь wow эффект */
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:focus {
  outline: none;
}

header,
nav,
aside,
footer {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
button {
  color: inherit;
}

/* ================================================ */

body {
  font-family: 'Open Sans', sans-serif;
}

.container,
.swiper-container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}

.sub__title,
.min__title {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

.sub__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
}

.min__title {
  display: block;
  font-size: 18px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.min__title::before,
.min__title::after {
  content: '';
  background-color: #5f84c5;
  height: 2px;
  width: 100px;
  margin: 0 15px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.padding-btm {
  padding-bottom: 8%;
}

.btn__reset {
  background-color: transparent;
  border: none;
}

/* ========== header ========== */

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(0, 0, 0, 0.3);
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 15;
}

/* logo */

.logo__link {
  font-size: 16px;
  line-height: 1.2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo__link::before {
  content: '';
  background: url(../img/logo.png) no-repeat;
  margin-right: 15px;
  width: 42px;
  height: 50px;
}

/* nav */

.nav__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__list {
  margin-right: 25px;
}

.nav__list:last-child {
  margin: 0;
}

.nav__link {
  font-size: 16px;
  -webkit-transition: .6s;
  -o-transition: .6s;
  transition: .6s;
}

.nav__link:hover {
  color: #7a7a7a;
}

/* whatsup */

.header__whatsup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.whatsup__text {
  margin-bottom: 10px;
  line-height: 1.2em;
}

.whatsup__tel {
  font-size: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.whatsup__tel::before {
  content: '';
  background: url(../../img/icon/whatsapp.svg) no-repeat;
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.whatsup__tel:hover {
  color: #7a7a7a;
}

/* social */

.header__social {
  display: none;
}

.social__lists {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social__list:nth-of-type(1) {
  margin-right: 20px;
}

/* menu */

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: none;
}

.menu__burger {
  position: relative;
  z-index: 12;
  width: 30px;
  height: 20px;
}

.menu__line {
  position: absolute;
  top: 48%;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #000;
}

.menu__line:last-child {
  top: 0;
}

.menu__line:first-child {
  top: 100%;
}

.menu__burger.active {
  border: none;
  outline: none;
}

.menu__burger.active .menu__line {
  -webkit-transform: rotate(140deg);
      -ms-transform: rotate(140deg);
          transform: rotate(140deg);
  top: 45%;
}

.menu__burger.active .menu__line:last-child {
  background-color: transparent;
}

.menu__burger.active .menu__line:first-child {
  -webkit-transform: rotate(-140deg);
      -ms-transform: rotate(-140deg);
          transform: rotate(-140deg);
}

.menu__burger.active:hover .menu__line {
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.menu__content {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 11;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  -webkit-transform: translateX(100%);
      -ms-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
  background-color: #555;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
}

.menu__burger.active ~ .menu__content {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translateX(0);
      -ms-transform: translateX(0);
          transform: translateX(0);
}

/* контент внутри меню */

.menu__content {
  overflow: scroll;
  text-align: center;
}

.menu__lists {
  margin-bottom: 50px;
}

.menu__list {
  margin-bottom: 35px;
}

.menu__list:last-child {
  margin: 0;
}

.menu__list .nav__link {
  font-size: 18px;
}

/* === main === */

.main {
  background: url(../img/bg/main-bg.jpg) no-repeat center/cover;
  height: 100vh;
  min-height: 600px;
  color: #fff;
  padding-top: 200px;
}

.main__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 600;
  line-height: 1.2em;
  margin-bottom: 100px;
}

.main__title span {
  font-size: 42px;
  font-weight: 200;
}

.main__button {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 50px;
  border: 1px solid #fff;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.main__button:active {
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
}

/* === services === */

.services {
  padding-top: 8%;
  color: #000;
}

.services__title {
  margin-bottom: 70px;
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.services__block {
  border: 2px solid #5f84c5;
  border-radius: 50px;
  max-width: 350px;
  padding: 30px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.services__block:hover {
  -webkit-box-shadow: 0px 0px 5px 3px rgba(184, 184, 184, 0.3);
          box-shadow: 0px 0px 5px 3px rgba(184, 184, 184, 0.3);
}

.services__image {
  margin-bottom: 50px;
}

.services__subtitle {
  font-family: 'Montserrat', sans-serif;
  font-size: 26px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.services__text {
  font-size: 16px;
  line-height: 1.2em;
  margin-bottom: 100px;
}

.services__button {
  color: #fff;
  background-color: #5f84c5;
  border-radius: 50px;
  padding: 20px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  position: absolute;
  bottom: 20px;
}

.services__button:hover {
  background-color: #99b5e4;
}

.services__button:active {
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
}

/* === stages === */

.stages__title {
  margin-bottom: 80px;
}

.stages__wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 50px 1fr;
  -ms-grid-columns: 300px 300px 300px;
      grid-template: 1fr 1fr / 300px 300px 300px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  row-gap: 50px;
  padding: 0 0 0 50px;
}

.stages__block {
  padding: 15px 0 0 15px;
  position: relative;
}

.stages__block::before {
  color: rgba(95, 95, 95, 0.8);
  font-size: 48px;
  font-weight: 600;
  position: absolute;
  top: 0;
  left: -50px;
}

.stages__block:nth-of-type(1)::before {
  content: '01';
}

.stages__block:nth-of-type(2)::before {
  content: '02';
}

.stages__block:nth-of-type(3)::before {
  content: '03';
}

.stages__block:nth-of-type(4)::before {
  content: '04';
}

.stages__block:nth-of-type(5)::before {
  content: '05';
}

.stages__block:nth-of-type(6)::before {
  content: '06';
}

.stages__subtitle {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 30px;
}

.stages__text {
  font-size: 16px;
  line-height: 1.3em;
}

/* === advantage === */

.adventige {
  padding-top: 30px;
  background: url(../img/bg/advantage-bg.jpg) no-repeat center/cover;
  height: 600px;
  color: #fff;
}

.adventige__title {
  margin-bottom: 50px;
}

.adventige__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.adventige__wrap:nth-of-type(1) {
  background-color: #5f84c5;
  padding: 30px 15px 50px 15px;
  border-radius: 15px;
  margin-right: 50px;
  -webkit-box-flex: .7;
      -ms-flex: .7;
          flex: .7;
}

.form__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.adventige__wrap:nth-of-type(2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.adventige__block {
  margin-bottom: 30px;
}

.adventige__subtitle {
  font-size: 24px;
  font-weight: 600;
  padding-top: 15px;
  margin-bottom: 15px;
}

.adventige__text {
  line-height: 1.3em;
  font-size: 16px;
  font-weight: 300;
}

/* === about === */

.about {
  padding-top: 8%;
}

.about__title {
  margin-bottom: 70px;
}

.about__text {
  font-size: 18px;
  font-weight: 300;
  line-height: 1.5em;
  width: 600px;
  margin-bottom: 30px;
}

.about__text:last-child {
  margin: 0;
}

.about__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about__image {
  max-width: 300px;
}

/* === close === */

.swiper-container {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.image-slider {
  padding: 30px 0 50px 0;
}

.image-slider_image {
  text-align: center;
}

.image-slider_image img {
  max-width: 90%;
  margin: 0 0 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.image-slider .swiper-button-prev::after,
.image-slider .swiper-button-next::after {
  color: #5f84c5;
}

.image-slider .swiper-pagination {
  bottom: 0;
}

.image-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  line-height: 20px;
  background-color: #fff;
}

.text-slider {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

/* === footer === */

.close__title {
  margin-bottom: 70px;
}

.footer {
  background-color: #eee;
  padding: 30px 0;
}

.footer__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 70px;
}

.footer__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer__contacts {
  margin-bottom: 50px;
}

.contacts__line {
  margin-bottom: 20px;
  color: #8f8f8f;
}

.contacts__line:last-child {
  margin: 0;
}

.contacts__link {
  font-size: 16px;
  color: #000;
}

.contacts__link:hover {
  color: #8f8f8f;
}

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.social__line {
  margin-right: 20px;
}

.social__line:last-child {
  margin: 0;
}

svg:hover {
  fill: #8f8f8f;
}

.footer__title {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.3em;
  margin-bottom: 60px;
}

.footer__button {
  color: #000;
  font-size: 16px;
  padding: 10px 30px;
  border-radius: 5px;
  border: 3px solid #5f84c5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.footer__button:active {
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
}

.footer__list {
  color: #8f8f8f;
  margin-bottom: 15px;
}

.footer__list:last-child {
  margin: 0;
}

.footer__link {
  color: #000;
}

.footer__link:hover {
  color: #8f8f8f;
}

/* === form === */

.popup__form {
  position: fixed;
  top: 0;
  z-index: 20;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.popup__form.active {
  opacity: 1;
  visibility: visible;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.popup__modal {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #5f84c5;
  color: #fff;
  border-radius: 15px;
  width: 600px;
  min-height: 400px;
  padding: 38px 40px 40px 40px;
}

.popup__close {
  position: absolute;
  top: 0;
  right: -40px;
  font-size: 38px;
  line-height: 21px;
  cursor: pointer;
}

.popup__title {
  text-align: center;
  font-size: 18px;
  margin-bottom: 30px;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__input {
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
}

.form__textarea {
  min-height: 100px;
  padding: 10px 0 0 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #fff;
  color: #000;
  resize: none;
}

.checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 30px;
}

.checkbox__input {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  height: 25px;
  width: 25px;
  -webkit-transition: all 0.15s ease-out 0s;
  -o-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  border: 3px solid #000;
  color: #fff;
  cursor: pointer;
  margin-right: 0.5rem;
  outline: none;
  position: relative;
  z-index: 10;
}

.checkbox__input:hover {
  background: #303030;
}

.checkbox__input:checked {
  background: #5f84c5;
}

.checkbox__input:checked::before {
  content: '✔';
  height: 25px;
  width: 25px;
  font-size: 20px;
  position: absolute;
  top: -5px;
  left: 2px;
}

.checkbox__line {
  text-decoration: underline;
}

.form__button {
  font-size: 16px;
  background-color: #474747;
  border-radius: 10px;
  padding: 15px 30px;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.form__button:active {
  -webkit-transform: scale(0.92);
      -ms-transform: scale(0.92);
          transform: scale(0.92);
}

.error {
  border: 2px solid #ff0000;
  margin: 0;
}

label.error {
  border: none;
  text-align: center;
  margin: 5px 0 20px;
  padding-right: 10px;
}

/* === adaptive === */

/* высота */

.privacy {
  padding: 5%;
  font-size: 16px;
  line-height: 1.3em;
}

.privacy-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 40px;
}

.main-privacy,
.term-privacy,
.user-privacy,
.purpose-privacy,
.basis-privacy,
.procedure-privacy,
.crossborder-privacy,
.final-privacy {
  margin-bottom: 30px;
}

.main-title_privacy,
.term-title_privacy,
.user-title_privacy,
.purpose-title_privacy,
.basis-title_privacy,
.procedure-title_privacy,
.crossborder-title_privacy,
.final-title_privacy {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px;
}

.main-lists_privacy,
.term-lists-privacy,
.user-lists_privacy,
.purpose-lists_privacy,
.basis-lists_privacy,
.procedure-lists_privacy,
.crossborder-lists_privacy,
.final-lists_privacy {
  margin: 10px 30px;
}

.exit-privacy {
  display: block;
  text-align: center;
  font-size: 24px;
  margin-top: 80px;
}

.exit-privacy:hover {
  color: #666666;
}

@media (max-width: 1240px) {
  .container {
    max-width: 960px;
  }

  .header__nav {
    display: none;
  }

  .header__menu {
    display: block;
  }

  .header__social {
    display: block;
  }

  .stages__wrapper {
    -ms-grid-rows: 1fr 1fr;
    -ms-grid-columns: 250px 250px 250px;
        grid-template: 1fr 1fr / 250px 250px 250px;
  }
}

@media (max-width: 980px) {
  .container {
    max-width: 760px;
  }

  .services__wrapper {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .stages__wrapper {
    -ms-grid-rows: 1fr 10px 1fr 10px 1fr;
    -ms-grid-columns: 250px 250px;
        grid-template: 1fr 1fr 1fr / 250px 250px;
    row-gap: 10px;
  }

  .adventige__wrap:nth-of-type(1) {
    margin-right: 15px;
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
  }

  .about__text {
    width: 100%;
  }

  .about__block:nth-of-type(2) {
    display: none;
  }
}

@media (max-width: 790px) {
  .container {
    max-width: 650px;
  }

  .header__whatsup,
  .header__social {
    display: none;
  }

  .main__title {
    font-size: 46px;
  }

  .main__title span {
    font-size: 38px;
  }

  .services__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .services__block {
    max-width: 75%;
  }

  .services__block:nth-of-type(1) {
    margin-bottom: 30px;
  }

  .services__image {
    margin-bottom: 40px;
  }

  .services__text {
    margin-bottom: 80px;
  }

  .adventige__wrap:nth-of-type(1) {
    display: none;
  }

  .footer__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }

  .footer__block:nth-of-type(2) {
    margin-bottom: 50px;
  }

  .footer__title {
    margin-bottom: 40px;
  }
}

@media (max-width: 700px) {
  .popup__modal {
    width: 100vw;
  }

  .popup__close {
    top: 20px;
    right: 20px;
  }
}

@media (max-width: 690px) {
  .container {
    max-width: 100%;
  }

  .main__title {
    font-size: 40px;
  }

  .main__title span {
    font-size: 34px;
  }

  .stages__wrapper {
    -ms-grid-rows: 1fr;
    -ms-grid-columns: 1fr;
        grid-template: 1fr  / 1fr;
    row-gap: 30px;
  }

  .adventige {
    min-height: 600px;
  }
}

@media (max-width: 560px) {
  .sub__title {
    font-size: 32px;
  }

  .header {
    position: static;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }

  .menu__burger {
    position: fixed;
    bottom: 10%;
    right: 20px;
    background-color: #555;
    padding: 40px;
    border-radius: 50%;
    z-index: 15;
  }

  .menu__line {
    background-color: #fff;
    left: 30%;
    top: 50%;
  }

  .menu__line:last-child {
    top: 34%;
  }

  .menu__line:first-child {
    top: 65%;
  }

  .main {
    padding-top: 90px;
  }

  .main__wrapper {
    text-align: center;
  }

  .main__title {
    font-size: 38px;
    margin-bottom: 60px;
  }

  .main__title span {
    font-size: 30px;
  }

  .services__block {
    max-width: 100%;
  }

  .adventige {
    min-height: 700px;
  }
}

@media (max-width: 360px) {
  .main {
    padding-top: 50px;
  }

  .main__title {
    font-size: 30px;
  }

  .main__title span {
    font-size: 28px;
  }

  .adventige {
    min-height: 800px;
  }
}

@media (min-height: 1000px) {
  .main {
    height: 900px;
  }
}

@media (max-height: 600px) {
  .main {
    padding-top: 170px;
  }

  .popup__modal {
    height: 100vh;
  }

  .popup__close {
    top: 20px;
    right: 20px;
  }
}

.webp .logo__link::before{ background: url(../img/logo.webp) no-repeat; }

.webp .main{ background: url(../img/bg/main-bg.webp) no-repeat center/cover; }

.webp .adventige{ background: url(../img/bg/advantage-bg.webp) no-repeat center/cover; }